@import 'variables'
  
.contact-links
  &-container
    display: flex
    align-items: center
    justify-content: space-around
    margin-bottom: 100px
  &__button
    display: flex
    align-items: center
    justify-content: center
    padding: 20px 60px
    border-radius: 50px
    border: 1px solid $white
    &:hover
      background-color: rgba($green, 0.1)
      border: 1px solid $yellow
      transition: 0.2s
    img
      width: 50px
      margin-right: 40px
    p
      font-family: Proxima Nova
      font-weight: bold
      font-size: 25px
      letter-spacing: 0.02em
      color: $white
